<div class="wrapper">
    <h1>Profile</h1>
    <div class="profile-content">
        <h2>山田敏人（ヤマダ ハヤト）</h2>
        <h3>経歴</h3>
        <div class="paragraph">
            <p>
                埼玉県出身で、製造業向けのIT企業にてフロントエンドエンジニアとして勤務しています。<br>
                2022年に千葉大学法政経学部を卒業。在学中は金融工学を専攻し、Pythonを使い統計分析を行っていました。<br>
                新卒で税理士法人に入社。税務・財務コンサルタントとして中小企業のサポートを担いました。
            </p>
            <p>
                現在では、Angularを使用したWebアプリケーションの開発や保守を行っています。<br>
                TypescriptとAngularを用いたSPAの作成を得意としています。
            </p>
        </div>
    </div>
    <div class="profile-content">
        <h2>スキル</h2>
        <div>
            <h3>プログラミングスキル</h3>
            <ul>
                <li>HTML, CSS, SCSS, JavaScript, TypeScript, Anuglar, RxJS</li>
                <li>Python</li>
                <li></li>
            </ul>
            <h3>資格</h3>
            <ul>
                <li>基本情報技術者</li>
            </ul>
        </div>
    </div>
    <div class="profile-content">
        <h2>SNS</h2>
        <ul>
            <li>Twitter: <a href="#">@hayato_dmdm</a></li>
            <li>Facebook: <a href="#"></a>aaa</li>
            <li>Github: <a href="https://github.com/Gimletdmdm">https://github.com/Gimletdmdm</a></li>
        </ul>
    </div>
    <div class="profile-content">
        <h2>好きなこと</h2>
    </div>
</div>

