<h1>Blog</h1>
<div class="grid-style">
    <article class="blog-content">
        <h2>blog title</h2>
        <div>
            <img class="img" src="../../assets/cat.jpg" alt="cat">
            <p>記事の詳細を記載する</p>
        </div>
    </article>
    
    <article class="blog-content">
        <h2>blog title</h2>
        <div>
            <img class="img" src="../../assets/cat.jpg" alt="cat">
            <p>記事の詳細を記載する</p>
        </div>
    </article>
    
    <article class="blog-content">
        <h2>blog title</h2>
        <div>
            <img class="img" src="../../assets/cat.jpg" alt="cat">
            <p>記事の詳細を記載する</p>
        </div>
    </article>
    
    <article class="blog-content">
        <h2>blog title</h2>
        <div>
            <img class="img" src="../../assets/cat.jpg" alt="cat">
            <p>記事の詳細を記載する</p>
        </div>
    </article>
</div>

<!-- Blogの詳細はこんな感じで書く  -->
<h1>タイトル</h1>
    <!-- ここに画像を入れます -->
    <p>タイトルの下に記述する導入文です。</p>
    <h2>大見出し</h2>
    <p>h2タグの見出しの下に記述する本文です。</p>
    <ul>
        <li>リスト1</li>
        <li>リスト2</li>
        <li>リスト3</li>
    </ul>
    <h3>小見出し</h3>
    <p>h3タグの見出しの下に記述する本文です。h3タグは、h2タグの中にもう一つ見出しを作りたい時に使用します。</p>
    <p>リンク：<a href="https://web-camp.io/magazine/">ブログ記事一覧</a></p>
    <h2>まとめ</h2>
    <p>この記事のまとめを記述します。</p>