<h1>Blog</h1>
<div class="grid-style">
    <article class="blog-content">
        <h2>blog title</h2>
        <div>
            <img class="img"  src="../../assets/no_image_yoko.jpg" alt="cat">
            <p><a routerLink="/blog-detail">記事の詳細を記載する</a></p>
        </div>
    </article>
    
    <article class="blog-content">
        <h2>blog title</h2>
        <div>
            <img class="img" src="../../assets/no_image_yoko.jpg" alt="cat">
            <p>記事の詳細を記載する</p>
        </div>
    </article>
    
    <article class="blog-content">
        <h2>blog title</h2>
        <div>
            <img class="img" src="../../assets/no_image_yoko.jpg" alt="cat">
            <p>記事の詳細を記載する</p>
        </div>
    </article>
    
    <article class="blog-content">
        <h2>blog title</h2>
        <div>
            <img class="img" src="../../assets/no_image_yoko.jpg" alt="cat">
            <p>記事の詳細を記載する</p>
        </div>
    </article>
    <article class="blog-content">
        <h2>blog title</h2>
        <div>
            <img class="img" src="../../assets/no_image_yoko.jpg" alt="cat">
            <p>記事の詳細を記載する</p>
        </div>
    </article>
</div>

